@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body{
 
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  
}

::-webkit-scrollbar{
  width: 1px;
}

